langchain-aws
langchain-cohere
langchain-huggingface
langchain-ollama
langchain-openai
langchain-community
langchain-google-community[gmail]
langchain-core
langchain-text-splitters
langgraph
yt-dlp
scholarly
youtube-transcript-api
pydantic
Flask
croniter
black
feedparser
newspaper3k
